@use "../../scss" as *;

.casts {
    .casts-title {
        margin-bottom: 10px;
        @include mobile {
            font-size: 1.8rem;
        }
    }
    .casts-list {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 0 10px;

        img {
            border-radius: 8px;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 1.4rem;
        }
    }
}
.mb-10 {
    @include tablet {
        margin-top: 250px;
    }
    @include mobile {
        margin-top: 280px;
    }

    .casts-title {
        margin-bottom: 20px;
    }

    .casts-list {
        @include mobile {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}
